<header id="header">      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
               <div class="">
                    
                </div> 
            </div>
         </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    
                </button>

                <a class="navbar-brand" href="#">
                    <h1><img src="" alt="Coffeereads Logo"></h1>
                </a>
                
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#">Home</a></li>
                    <li class=""><a href="#">Posts</a></li>                    
                    <li class=""><a href="#">FAQ </a></li>
                    <li class=""><a href="#">Contact Us</a> </li>                         
                    <li><a href="">Shop</a></li>                    
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>