<div>
    <section id="page-breadcrumb">
        <div class="vertical-center bg-404">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <a href="{{staticPageContent.basic_information.insta_page_link}}">
                                <h1 class="title">Instagram Posts</h1>
                            </a>
                            <p>Support us by hitting <i style="color: red;" class="fa fa-heart"></i> for our posts on insta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="portfolio">
        <div class="container">
            <div class="row">
                <ul class="portfolio-filter text-center">
                    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".fantasy">Fantasy</a></li>

                    <li><a class="btn btn-default" href="#" data-filter=".selfhelp">Self-help</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".biography">Biography</a></li>
                </ul>
                <!--/#portfolio-filter-->

                <div class="portfolio-items">
                    <div *ngFor="let item of staticPageContent.our_insta_posts">
                        <div class="col-xs-5 col-sm-4 col-md-3 portfolio-item {{item.post_class_type}} logos">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-single">
                                    <div class="portfolio-thumb">
                                        <img src="{{item.image_url}}" class="img-responsive" alt="">
                                    </div>
                                    <div class="portfolio-view">
                                        <ul class="nav nav-pills">
                                            <li><a href="{{item.insta_page_link}}"><i class="fa fa-link"></i></a></li>
                                            <li><a href="{{item.image_url}}" data-lightbox="example-set"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="portfolio-info ">
                                    <h2>{{item.book_name}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>